html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
input {
  padding: 10px 15px;
  outline: none;
  width: 100%;
  border: 1px solid #ddd;
  margin: 10px 0 !important;
}
:root {
  /*required*/
  --bg-light: #1b263b;
  --notesbg: #000;
  --text-success: #04ff04;
  --color: #e0e1dd;
  --whiter: #778da9;
  --whitest: #415a77;
  --bg: #0d1b2a;
  /*required*/
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
#nprogress .bar {
  background: teal !important;
  height: 7px;
}
.notes {
  background: var(--notesbg);
  color: var(--text-success);
  font-style: italic;
}
.notes a {
  color: var(--color);
}

.heading {
  font-size: clamp(30px, 3vw, 38px) !important;
  font-weight: 700 !important;
}

h1 {
  font-size: clamp(24px, 3vw, 20px) !important;
  font-weight: 700 !important;
}
h2 {
  font-size: clamp(22px, 3vw, 19px) !important;
  font-weight: 700 !important;
}
h3 {
  font-size: clamp(19px, 3vw, 17px) !important;
  font-weight: 600 !important;
}

.pointer {
  cursor: pointer;
}
.event-none {
  pointer-events: none;
}
.layout header {
  text-transform: capitalize;
  background: #fff;
  position: sticky;
  z-index: 10;
  top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.layout header .container {
  height: 60px;
}
.layout > .wawe {
  min-height: 80vh;
}
.layout header .menu {
  display: none;
}
.menu span {
  height: 2.6px;
  width: 25px;
  transition: all 0.2s;
  display: block;
  margin-bottom: 3px;
  background: #000;
}
.layout header.active .menu span:nth-of-type(2) {
  opacity: 0;
  width: 0px;
}
.layout header.active .menu span:first-child {
  transform: rotate(45deg);
  transform-origin: left;
}
.layout header.active .menu span:last-child {
  transform: translateY(7px) rotate(-45deg);
  transform-origin: left;
}
.layout button.menu {
  outline: none;
  border: none;
  width: 25px;
  background: transparent;
}
.layout header a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
.layout header li a {
  padding: 0.5rem 1rem;
}
.layout header li > ul {
  display: none;
}
.layout header li:hover > ul {
  display: block;
  height: 400px;
}
.layout > .container {
  padding-bottom: 2rem;
}

.error404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgb(240, 209, 209), rgb(213, 213, 248));
}
.gradient-text {
  background: -webkit-linear-gradient(
    120deg,
    rgb(169, 77, 240),
    rgb(14, 45, 181)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.layout footer {
  background: var(--bg);
  color: var(--color);
}

@keyframes blink {
  0% {
    color: aqua;
  }
  20% {
    color: rgb(21, 105, 105);
  }
  40% {
    color: rgb(98, 255, 0);
  }
  60% {
    color: rgb(255, 47, 0);
  }
  100% {
    color: rgb(104, 12, 75);
  }
}
.layout header b {
  font-size: 20px;
  animation: blink 2s linear infinite alternate;
  transition: all 0.4s;
}

@media screen and (max-width: 768px) {
  .layout header .menu {
    display: block;
  }
  .share footer {
    margin-bottom: 30px;
  }
  .layout header ul {
    width: 100%;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    left: 0;
    height: 0;
  }
  .layout .mobilelinks {
    width: 70%;
    max-width: 400px;
    background: #000;
    position: absolute;
    transition: all 0.2s ease-in-out;
    flex-direction: column;
    top: 100%;
    left: -100%;
    height: 100vh;
    overflow: hidden;
  }
  .layout header::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.4s;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none;
  }
  .layout header.active::after {
    opacity: 1;
  }
  .layout header.active .mobilelinks {
    left: 0;
    z-index: 1;
  }
  .layout header ul li a {
    width: 100%;
    display: block;
    padding: 14px 10px;
  }
  .layout header ul li {
    width: 100%;
    position: relative;
  }
  .layout header li::before {
    content: "";
    width: 100%;
    background: linear-gradient(to right, #555, transparent);
    position: absolute;
    top: 100%;
    transition: all 0.3s;
    transition-delay: 1s;
    height: 0.5px;
  }

  .layout header a {
    color: #fff;
  }
  footer .smallheading:not(:first-child) {
    margin-top: 30px;
  }
}
.cancel-btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 40px;
  min-width: 200px;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: teal;
}
.submit-btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 40px;
  min-width: 200px;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: teal;
  color: #fff;
}
.theme-btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  text-transform: capitalize;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  background: rgb(8, 8, 31);
}

.themebtn:active {
  transform: scale(1.1);
}
.layout p {
  color: #777;
}
.heading {
  font-size: 40px;
  font-weight: 800;
}
.textarea {
  margin: 10px 0;
  width: 100%;
  resize: none;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  outline: none;
  border: 1px solid #ddd;
  min-height: 120px;
}
.textarea:focus {
  border: 2px solid blue;
}
.textarea *::first-letter {
  text-transform: capitalize;
}
.cta-btn {
  border-radius: 26px;
}

/*themes font colors*/
.awesome-green {
  color: rgb(56, 230, 128);
}
.awesome-red {
  color: rgb(253, 98, 98);
}
.themebtn {
  border-radius: 10px;
  outline: none;
  color: #fff;
  border: none;
  background: linear-gradient(rgb(76, 5, 85), rgb(236, 184, 251));
  padding: 10px;
}
/*footer*/
footer {
  background: rgba(0, 0, 0, 0.95);
  color: rgb(170, 167, 167);
  background-position: center;
  background-blend-mode: overlay;
}
.sub-footer {
  background: #000000f2;
  color: #ccc;
}
.layout footer p {
  color: #fff;
}
footer a {
  color: #ddd;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.layout a {
  text-decoration: none;
}
footer a:hover {
  color: var(--whiter);
}
footer li {
  margin-bottom: 7px;
}
.fa-chevron-right {
  color: yellow;
  margin-right: 5px;
}
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2a2a2a;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
footer .smallheading {
  color: #fff;
  font-size: 20px;
}
.gototop {
  height: 50px;
  position: fixed;
  bottom: 70px;
  left: 15px;
  width: 50px;
  z-index: 3;
  cursor: pointer;
  border-radius: 50%;
  background: #1c1a1a;
}
.gototop svg {
  transition: all 0.3s ease-in-out;
}
.gototop.active svg {
  transform: rotate(180deg);
}

/*themes font colors*/
/*whatsapp*/

/*whatsapp*/
.orderpop {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}
.orderpop.active {
  opacity: 1;
  pointer-events: all;
}
.orderpop > div {
  position: absolute;
  top: 50%;
  max-width: 95% !important;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  display: none;
}
.orderpop .close {
  display: flex;
}
.orderpop .close {
  position: absolute;
  line-height: 1;
  cursor: pointer;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  background: #ddd;
  border-radius: 50%;
}

.dropdown {
  position: absolute !important;
  top: 80%;
  width: 250px;
  border-radius: 0 0 8px 8px;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  color: rgb(136, 136, 136);
}
.dropdown.active {
  opacity: 1;
  top: 100%;
  pointer-events: all;
}
.pointer {
  cursor: pointer;
}
.dropdown li {
  cursor: pointer;
  padding: 5px 10px;
}
.dropdown li:hover {
  background: #f1f1f17a;
}
input::-webkit-file-upload-button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  color: #999;
  border-radius: 20px;
}
/*orders table*/
.orders table td {
  min-width: max-content;
  white-space: nowrap;
}
.orders table td svg {
  margin-right: 10px;
}
/**/
.login {
  display: inline-block;
  padding: 10px;
  background: teal;
  color: #fff;
  border-radius: 20px;
}

.badge {
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  background: rgb(213, 247, 213);
}
.ck.ck-content {
  min-height: 300px;
}
.ashish {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 8px;
  max-width: 350px;
  z-index: 5;
  text-align: left;
  background: #fff;
}
.ashish img {
  border-radius: 50%;
  object-fit: cover;
}
.ashish .techs strong {
  color: #1b263b;
  margin: 5px;
  display: inline-block;
  border-radius: 30px;
  padding: 2px 10px;
  background: #f1f1f1;
}
@media (min-width: 1024px) {
  .sticky {
    position: sticky;
    z-index: 2;
    top: 85px;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    border-left: 1px solid #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #ddd;
    width: 6px;
  }
}
