.orderform {
  width: 600px;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.orderform input {
  background: #fff;
}



.orderform h3 {
  text-align: center;
}
