.toc {
  margin-top: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: auto;
  transition: all 0.3s;
  cursor: pointer;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
}

.toc b {
  margin-bottom: 10px;
  display: block;
}
.toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toc a {
  text-decoration: none;
  display: grid !important;
  grid-column-gap: 8px;
  grid-template-columns: 15px calc(100% - 25px);
  color: teal;
  margin-bottom: 6px;
  font-weight: 600;
}
.toc a span {
  background: teal;
  color: #fff;
  font-size: 10px;
  height: 15px;
  margin-top: 5px;
  min-width: 15px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
